<div class="thanks">
  <img src="./../../../assets/images/side-menu/SacredSword.svg"
    alt="sacred_sword">
  <div class="group">
    <img src="./../../../assets/images/characteres_group.svg"
      alt="characters_group">
    <label>
      Obrigado por ler,<br> Time Vortex agradece!
    </label>
  </div>
</div>
<div class="subscribe">
  <div class="card">
    <div class="header">
      Fique por dentro sobre Sacred Sword!
      <img src="./../../../assets/images/side-menu/about.svg"
        alt="about.svg">
    </div>
    <div class="content">
      <label>
        Preecha o campo para ficar atualidado com as novidades e lançamentos.
      </label>
      <div class="fields">
        <label for="email">
          Email:
          <input #inputref
            type="text" />
        </label>
        <button (click)="send()">Enviar</button>
      </div>
    </div>
  </div>
</div>
