:host {
  @media screen and (max-width: 1220px) {
    overflow-y: auto;
  }

  .characters {
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    @media screen and (max-width: 1148px) {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 575px) {
        grid-template-columns: unset;
      }
    }

    .container {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(320.69deg, #4900a7 7.02%, #88006a 89.17%);
      box-shadow: 0px 0px 21.8456px rgb(0 0 0 / 32%);
      border-radius: 31px;
      padding: 14px;
      transition: all 0.5s;

      @media screen and (max-width: 575px) {
        margin: unset;
        .info {
          flex-direction: column;
        }
      }

      @media screen and (max-width: 1200px) {
        .title {
          font-size: 1.2em !important;
        }

        .info {
          gap: 20px !important;
          .content {
            font-size: 1em;
          }
        }
      }

      &:hover {
        transform: scale(1.02);

        @media screen and (max-width: 1024px) {
          transform: unset;
        }
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }

      .info {
        display: flex;
        gap: 55px;
        align-items: center;

        img {
          max-height: 200px;
        }
      }
    }
  }
}
