:host {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;

  .info {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  img {
    min-width: 220px;
    height: 100%;
  }
}
