:host {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1020px) {
    flex-direction: column-reverse;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    .info {
      font-size: 15px !important;
      line-height: 20px !important;
      margin-bottom: 100%;
    }

    img {
      transform: rotate(45deg);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  img {
    min-width: 220px;
    height: 100%;
  }
}
