<div class="info">
  <p>
    Um Grande feiticeiro da morte tomado pela ambição de poder e magias das trevas vem
    roubando as almas e arguendo um exercito de soldados mortos-vivos. Ele não vai parar
    até
    que todos os reinos estejam em seu controle.
  </p>
  <p>
    Quem será forte o bastante para pará-lo?
  </p>
  <p>
    Há uma lenda de que a única forma de matar tal feiticeiro é com a espada sagrada, uma
    espada encantada pelos magos antigos capaz de matar o exército dos mortos-vivos e
    derrotar
    o feiticeiro da morte.
  </p>
  <p>
    Mas afinal a onde será que ela foi parar...
  </p>
</div>
<img src="./../../../assets/images/side-menu/History.svg"
  alt="">
