@font-face {
  font-family: "Vortex";
  src: url("./../fonts/Comfortaa-Regular.ttf");
  src: url("./../fonts/comfortaa-regular-webfont.woff") format("woff"),
}

* {
  box-sizing: border-box;
  font-family: 'Vortex';
  color: white;
  animation: fadeIn 0.5s;

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(112.7deg, #5D01FB 1.37%, #EB01A5 98.36%);
  }
}

img {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: linear-gradient(112.7deg, #EB01A5 1.37%, #5D01FB 98.36%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
